@keyframes item {
  from {
    transform: translate(-200%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

@keyframes item-fade {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-200%, 0);
  }
}

@keyframes item-remove {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.01);
  }
}

.anim-title__box {
  display: flex;
}

.anim-title__letter {
  font-size: 36px;
  color: #61dafb;
  text-transform: uppercase;
  opacity: 0;
  margin-bottom: 10px;
}

@keyframes title-letters {
  from {
    opacity: 0;
    transform: translate(1000%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
