@import "./register.css";
@import "./settingsPage.css";

.App {
  text-align: center;
  background: rgb(15, 32, 120);
  background: radial-gradient(
    circle,
    rgba(15, 32, 120, 1) 0%,
    rgba(33, 1, 8, 1) 100%
  );

  animation: backTodo 5s ease;
  animation-iteration-count: infinite;
}

.todo {
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 15px;
  max-width: 700px;
  margin: 0 auto;
  animation: backTodo 5s ease;
  animation-iteration-count: infinite;
}
@keyframes backTodo {
  from {
    /* background-position: 50% 0%; */
    /* background: #175d70; */
    /* background: radial-gradient(
      circle,
      rgba(15, 32, 120, 1) 0%,
      rgba(33, 1, 8, 1) 100%
    ); */
  }
  50% {
    /* background: #021b22; */

    /* background: radial-gradient(
      circle,
      rgba(15, 32, 120, 1) 50%,
      rgba(33, 1, 8, 1) 100%
    ); */
  }
  to {
    /* background-position: 50% 100%; */
    /* background: #175d70; */

    /* background: radial-gradient(
      circle,
      rgba(15, 32, 120, 1) 0%,
      rgba(33, 1, 8, 1) 100%
    ); */
  }
}

.todo__title {
  color: #61dafb;
  text-transform: uppercase;
  animation: title 0.4s ease-in;
  /* transform: scale(0.1); */
}
@keyframes title {
  from {
    transform: translate(-200%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

.todo__sub-title {
  color: #61dafb;
  margin-bottom: 5px;
  margin-top: 10px;
  animation: sub-title 0.4s ease-in;
}
@keyframes sub-title {
  from {
    /* transform: translate(-200%, 0%); */
    opacity: 0;
  }
  to {
    opacity: 1;
    /* transform: translate(0%, 0%); */
  }
}

.todo__items-active,
.todo__items-completed {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 700px;
}

.todo__item {
  display: flex;
  border: 1px solid rgba(97, 218, 251, 0.1);
  border-radius: 6px;
  align-items: center;
  background-color: rgba(8, 80, 100, 0.5);
  transition: 0.3s ease 0s;
  animation: item 0.3s ease;
}
.todo__item:hover {
  transform: translate(1px, -1px);
}

.todo__item-fade {
  display: flex;
  border: 1px solid rgba(97, 218, 251, 0.1);
  border-radius: 6px;
  align-items: center;
  background-color: rgba(8, 80, 100, 0.5);
  transition: 0.3s ease 0s;
  animation: item-fade 0.3s ease-in;
}
.todo__item-fade:hover {
  transform: translate(1px, -1px);
}

.todo__item-remove {
  display: flex;
  border: 1px solid rgba(97, 218, 251, 0.1);
  border-radius: 6px;
  align-items: center;
  background-color: rgba(8, 80, 100, 0.5);
  transition: 0.3s ease 0s;
  animation: item-remove 0.3s ease;
}

.todo__number {
  margin: 0;
  padding: 8px 15px;
  border-right: 1px solid rgba(97, 218, 251, 0.1);
}

.todo__description {
  margin: 0;
  padding: 8px 15px;
  width: 100%;
  text-align: left;
  font-size: 16px;
}

.todo__input-box {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(8, 80, 100, 0.5);
  border: 1px solid rgba(97, 218, 251, 0.1);
  animation: bottom-to-top 0.3s ease;
  animation-fill-mode: forwards;
  width: 100%;
  max-width: 700px;
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes bottom-to-top {
  from {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.todo__input {
  width: 100%;
  outline: unset;
  border: unset;
  padding: 15px;
  outline: 1px solid rgba(97, 218, 251, 0.1);
  transition: 0.2s ease 0s;
  font-size: 16px;
}
.todo__input:focus {
  outline: 2px solid rgb(1, 154, 197);
}
