.todo-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  animation: bottom-to-top 0.3s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.todo-settings__text,
.todo-settings__label {
  font-size: 19px;
  color: rgba(97, 218, 251, 1);
  margin: 5px 0px;
  letter-spacing: 1.5px;
}
.todo-settings__text span {
  color: #fff;
  letter-spacing: 1.5px;
}

.todo-settings__language-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  margin: 5px 0px;
}

.todo-settings__label,
.todo-settings__sounds-box {
  margin: 5px 0px;
}

.todo-settings__sounds-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  gap: 30px;
}

.todo-settings__devider {
  height: 0.5px;
  width: 100%;
  background-color: rgba(97, 218, 251, 0.1);
}
